<head>
  <link rel="icon" href="msuiitlogo.png" type="image/gif" sizes="16x16">
</head>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggle"
          aria-controls="navbarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="/students">Students</a>
            <a class="nav-item nav-link" href="/courses">Courses</a>
            <a class="nav-item nav-link" href="/colleges">Colleges</a>

          </div>
        </div>
      </div>
    </nav>
</header>